
<div class="navcont">
    <nav>
        <ul>
            <li><a routerLink="/home" [routerLinkActive]="activeClass">Home</a></li>
            <li><a routerLink="/hotels" [routerLinkActive]="activeClass">Hotels</a></li>
            <li><a routerLink="/rooms" [routerLinkActive]="activeClass">Rooms</a></li>
            <li><a routerLink="/booked-rooms" [routerLinkActive]="activeClass">Booked-rooms</a></li>
        </ul>
    </nav>
</div>

<!-- <app-log-in></app-log-in>
<app-register></app-register> -->