
.navcont{
    position: fixed;
    background-color: rgb(95, 194, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 100%;
    box-shadow: 2cm;
}

.active {
    color: red;
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 30px;
}

nav ul a {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(156, 125, 86);
}
