

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    p {
        color: whitesmoke;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
    }
}
