<main>
    <div class="selectRoom">
        <button>All</button>
        <button>Single Room</button>
        <button>Double Room</button>
        <button>Deluxe Room</button>
    </div>
<div class="filterBox">
    <select name="" id="" [(ngModel)]="roomType">
        <option value="0">Select room</option>
        <option value="1">Single room</option>
        <option value="2">Delux room</option>
        <option value="3">Premium room</option>
    </select>
    <div class="input">
        <label for="" style="font-family:'Times New Roman', Times, serif;">Price From</label>
        <input type="number" name="" id="" placeholder="priceFrom" [(ngModel)]="priceFrom">
    </div>
    <div class="input2">
        <label for="" style="font-family:'Times New Roman', Times, serif;">Price To</label>
        <input type="number" name="" id="" placeholder="priceto"[(ngModel)]="priceTo">
    </div>
    <div class="input3">
        <label for="" style="font-family:'Times New Roman', Times, serif;">MaxGuests</label>
        <input type="number" name="" id="" placeholder="maxGuest" [(ngModel)]="maxGUest">
    </div>
    <div class="input4">
        <label for="" style="font-family: 'Times New Roman', Times, serif;">ChekInDate</label>
        <input type="date" name="" id="" [(ngModel)]="chekInDate">
    </div>
    <div class="ipnut5">
        <label for="" style="font-family:'Times New Roman', Times, serif;">ChekOutDate</label>
        <input type="date" name="" id="" [(ngModel)]="chekOutDate">
    </div>
   
    <div class="butt">
        <button (click)="filter()">Filter</button>
        <button (click)="reset()">Reset filter</button>
    </div>
</div>


<div class="main">
    <div class="card" style="width: 18rem;" *ngFor="let room of roomsArr">
        <div id="carouselExample-{{room.id}}" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let image of room.images; let i = index" [class.active]="i === 0">
                <img [src]="image.source" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExample-' + room.id" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExample-' + room.id" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
       
        <div class="hotelsCard">
          <h5 class="card-title">{{room.id}}</h5>
          <p class="card-text">{{room.hotelId}}</p>
          <p class="card-text">{{room.name}}</p>
          <p class="card-text">{{room.pricePerNight}}</p>
          <p class="card-text">{{room.maximumGuests}}</p>
          <a routerLink="/booking-page/{{room.id}}" class="btn btn-primary">book</a>
        </div>
    </div>
  </div>
</main>