

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
}

.filterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}